In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv("train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train.shape

(891, 12)

In [4]:
test = pd.read_csv("test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
test.shape

(418, 11)

In [6]:
# Concatting Together
y = train['Survived']
df = pd.concat(objs=[train.drop(columns=['Survived']), test], axis=0)
df.shape

(1309, 11)

In [7]:
df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
df.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,655.000000,2.294882,29.881138,0.498854,0.385027,33.295479
std,378.020061,0.837836,14.413493,1.041658,0.865560,51.758668
min,1.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,655.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1309.000000,3.000000,80.000000,8.000000,9.000000,512.329200

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

 Age, Fare, Cabin and Embarked contains missing values.

In [10]:
nom = df.isnull().sum().sort_values(ascending=False)
per = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
nodata = pd.concat([nom, per], axis=1, keys=['NumberOfMissing', 'Percentage'])
nodata.head()

          NumberOfMissing  Percentage
Cabin                1014    0.774637
Age                   263    0.200917
Embarked                2    0.001528
Fare                    1    0.000764
Ticket                  0    0.000000

In [11]:
df.isnull().sum()

PassengerId       0
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

#### 1) DROPPING NULL OR MISSING VALUES

In [12]:
dfdrop=df.dropna()
dfdrop.shape

(270, 11)

In [13]:
dfdrop.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [14]:
dfdrop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 1 to 414
Data columns (total 11 columns):
PassengerId    270 non-null int64
Pclass         270 non-null int64
Name           270 non-null object
Sex            270 non-null object
Age            270 non-null float64
SibSp          270 non-null int64
Parch          270 non-null int64
Ticket         270 non-null object
Fare           270 non-null float64
Cabin          270 non-null object
Embarked       270 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 25.3+ KB

#### 2) FILLING MISSING VALUES

Fill with some constant value

In [15]:
dfconst=df
dfconst.Age.fillna(33,inplace=True)
dfconst.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

Fill with Mean value

In [16]:
#Age is a column which contains misssing value
mean=df['Age'].mean()
dfmean=df
dfmean['Age']=dfmean['Age'].fillna(mean)
dfmean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

Fill with Median value

In [17]:
median=df['Age'].median()
dfmedian=df
dfmedian['Age']=dfmedian['Age'].fillna(median)
dfmedian.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

Another intersting feature is to group by the attributes for better mean or median.

In [18]:
dfmeanbygroup=df
dfmeanbygroup['Age'].fillna(train.groupby('Sex')['Age'].transform("mean"), inplace=True)
dfmeanbygroup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

Fill with Mode value for Categorical Data

In [19]:
dfmode=df
dfmode.Embarked.fillna(df.Embarked.mode()[0],inplace=True)
dfmode.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1309 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

Fill with Imputer method ( Strategy could be any of these mean, median or most frequent)

In [20]:
dfimp=df
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
imp = imp.fit(dfimp[['Age']])
dfimp['Age'] = imp.transform(dfimp[['Age']]).ravel()
dfimp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1309 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

C:\Users\daspu\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

For Back-fill or forward-fill

In [21]:
dfbf=df
#for back fill 
dfbf=dfbf.fillna(method='bfill', axis=1)
dfbf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null object
Pclass         1309 non-null object
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null object
SibSp          1309 non-null object
Parch          1309 non-null object
Ticket         1309 non-null object
Fare           1309 non-null object
Cabin          1309 non-null object
Embarked       1309 non-null object
dtypes: object(11)
memory usage: 122.7+ KB

In [22]:
dfff=df
#for forward fill 
dfff=dfff.fillna(method='ffill', axis=1)
dfff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    1309 non-null object
Pclass         1309 non-null object
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null object
SibSp          1309 non-null object
Parch          1309 non-null object
Ticket         1309 non-null object
Fare           1309 non-null object
Cabin          1309 non-null object
Embarked       1309 non-null object
dtypes: object(11)
memory usage: 122.7+ KB

Please note that if a previous or next value isnâ€™t available or rather if it is also a NaN value, then, the NaN remains even after back-filling or forward-filling.

#### 3) Model based Treatment

In [23]:
# For example if we want to find the missing Age values, it's correlation is studied to choose the training values.
df.corr()

             PassengerId    Pclass       Age     SibSp     Parch      Fare
PassengerId     1.000000 -0.038354  0.025426 -0.055224  0.008942  0.031428
Pclass         -0.038354  1.000000 -0.344551  0.060832  0.018322 -0.558629
Age             0.025426 -0.344551  1.000000 -0.190598 -0.138190  0.158429
SibSp          -0.055224  0.060832 -0.190598  1.000000  0.373587  0.160238
Parch           0.008942  0.018322 -0.138190  0.373587  1.000000  0.221539
Fare            0.031428 -0.558629  0.158429  0.160238  0.221539  1.000000

In [24]:
# Lets first consider the training data
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
dfpred = train[['Pclass','SibSp','Parch','Fare','Age']]

X_train = dfpred[dfpred['Age'].notnull()].drop(columns='Age')
y_train = dfpred[dfpred['Age'].notnull()]['Age']
X_test = dfpred[dfpred['Age'].isnull()].drop(columns='Age')
y_test = dfpred[dfpred['Age'].isnull()]['Age']

lr.fit(X_train, y_train)

pred = lr.predict(X_test)

train.Age[train.Age.isnull()] = pred
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [25]:
# Simlarly for test data. Note that in test data Fare column contains missing values.
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
dfpred = test[['Pclass','SibSp','Parch','Age']]

X_train = dfpred[dfpred['Age'].notnull()].drop(columns='Age')
y_train = dfpred[dfpred['Age'].notnull()]['Age']
X_test = dfpred[dfpred['Age'].isnull()].drop(columns='Age')
y_test = dfpred[dfpred['Age'].isnull()]['Age']

lr.fit(X_train, y_train)

pred = lr.predict(X_test)

test.Age[test.Age.isnull()] = pred
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

This was done for the variable Age, hence we can do the rest with the other variables.